<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <% posts.forEach((entry) => { %>
    <div class="card entry" style="width: 66rem">
      <div class="card-body">
        <h5 class="card-title"><%= entry.title %></h5>
        <p class="card-text"><%= entry.content %></p>
        <% if (role == "administrator") { %>
        <div class="card-buttons">
          <a href="/updateCard/<%= entry.id %>" class="card__update">
            Изменить</a
          >
          <a href="/deleteCard/<%= entry.id %>" class="card__delete">Удалить</a>
        </div>
        <% } else if (role == "moderator") {%>
        <div class="card-buttons">
          <a href="/updateCard/<%= entry.id %>" class="card__update">
            Изменить</a
          >
        </div>
        <% } else { %>
        <div class="card-buttons"></div>
        <% } %>
      </div>
    </div>
    <% }); %>
    <a href="/logout">Выйти</a>
  </body>
</html>
